html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: black;
	font-size: $m-size;
	margin: 0px;
	text-align: center;
}

button {
	cursor: pointer;

}

button:disabled {
	cursor: default;
}


#playGameButton {
	/*display: inline-block;*/
	/*background-color: blue;*/
    color: white;
    overflow: hidden;
    background: rgb(84,84,84);
	background: -webkit-linear-gradient(left, rgba(84,84,84,1) 0%, rgba(194,194,194,1) 51%, rgba(66,66,66,1) 100%);
	background: -o-linear-gradient(left, rgba(84,84,84,1) 0%, rgba(194,194,194,1) 51%, rgba(66,66,66,1) 100%);
	background: linear-gradient(to right, rgba(84,84,84,1) 0%, rgba(194,194,194,1) 51%, rgba(66,66,66,1) 100%);
}

#playGameButton:hover {
	/*background-color: #ADD8E6;*/
	background: rgb(184,184,184);
background: linear-gradient(90deg, rgba(184,184,184,1) 0%, rgba(255,255,255,1) 51%, rgba(182,182,182,1) 100%);
color: black;
}

#btnBg {
	height: 80%;
	float: left;
	border-radius: 10px;
	/*margin-right: 10px;*/
}

#loading {
	border-radius: 10px;
	color: red;
	position: absolute;
	height: 10%;
	width: 20%;
	padding: auto;
}

#highscoreDiv {
    display: inline-block;
    text-align: center;
    height: 30%
}

#submitButton {
	border-radius: 13px;
	border-style: 1px solid black;
	color: black;
	box-shadow: 4px 1px;
	font-size: 1.5rem;
	background-color: #ccc;
	width: 90%;
	margin: 3px;
}

#submitButton:hover {
	background-color: #ffcccc;
}

#nameInput {
	border-radius: 13px;
	width: 80%;
	border: 1px solid #ccc;
	margin: 3px;
	padding: 4px 8px 4px 8px;
	font-size: 1rem;
}

#header {
	font-size: 1.5rem;
}

#scoreboard {
	border-radius: 13px;
	width: 90%;
	overflow: auto;
	background-color: black;
	display: table;
	opacity: 0.6;
	position: absolute;
	padding: 1rem;
	text-align: center;
}

#scoreHeader {
	color: white;
	border-radius: 10px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 0px;
}

.scoreItem {
	color: white;
	/*width: 10%;*/
	/*font-size: 1rem;*/
}

.scoreRow {
	/*display: inline;*/
	width: 100%;
	/*font-size: 1rem;*/
}

tr {
	width: 100%;
}